<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuestBook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    
    <h1>Digital GuestBook.</h1>
    <div class="guestbook">
        {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages
        %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <form action="" method="POST" id="bukutamu">
            <input type="text" id="nama-user" placeholder="Your Name" name="nama_post" required>
            <br /><br />
            <textarea name="pesan_post" id="pesan-user" required placeholder="Messages"></textarea>
            <br /><br />
            <button type="submit">Submit</button>
            <p id="form-status"></p>
        </form>
    </div>

    <div class="pesan-masuk">
    <h2>Incoming Messages</h2>
        {% if semua_pesan %}
            {% for komen in semua_pesan|reverse %}
                <strong>- {{ komen.nama }}</strong>
                <p>{{ komen.pesan }}</p>
                <br>
            {% endfor %}
        {% else %}
            <p>Belum ada pesan. Jadilah yang pertama!</p>
        {% endif %}
    </div>
    <script>
        const contactForm = document.querySelector("#bukutamu");
        const statusMessage = document.querySelector("#form-status");

        contactForm.addEventListener("submit", function (e) {
            e.preventDefault(); // Selalu hentikan submit dulu

            // Ambil nilai dari input
            const nama = document.querySelector("#nama-user").value.trim();
            const pesan = document.querySelector("#pesan-user").value.trim();

            // Validasi: cek apakah ada field yang kosong
            if (nama === "" || pesan === "") {
            statusMessage.textContent = "Error: Semua field wajib diisi!";
            statusMessage.style.color = "red";
            } else {
            statusMessage.textContent = "Sukses! Pesan Anda akan segera diproses.";
            statusMessage.style.color = "green";
            contactForm.submit();
            // Di sini kita bisa menambahkan kode untuk mengirim form,
            // atau membersihkan input setelah berhasil.
            // contactForm.reset(); // Untuk mengosongkan form
            }
        });
        
    </script>
</body>
</html>