*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
}

.nav-links{
    display: flex;
    gap: 25px;
}

.navbar a{
    color: red;
    text-decoration: none;
}

.navbar a:hover{
    color: #fff;
}

.brand{
    font-size: 1.5em;
    font-weight: bold;
}

/* .kartu-profil{
    width: 300px;


    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 50px;
}

.kartu-profil h2{
    color: #44444E;
    margin-bottom: 0px;
}

.kartu-profil p{
    margin-top: 0px;
}

.kartu-profil img{
    border-radius: 10px;
} */


.card {
width: 270px;
height: 200px;
background-color: white;
border: 1px solid #ddd;
border-radius: 8px;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img{
    width: 40%;
}

.card-container {
display: flex;
justify-content: space-around; /* Coba ganti dengan space-around atau
space-between */
align-items: center;
gap: 20px;
background-color: #f4f4f4;
padding: 40px;
}